@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@mixin textColor{
    background-image: linear-gradient(to right, rgb(255, 251, 9), rgb(227, 227, 227), rgb(255, 30, 30));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}
.AboutMeHeader{
    background-image: linear-gradient(to bottom left, rgb(6, 6, 6), rgba(27, 2, 21, 0.729),rgb(4, 19, 74));
    padding: 10px 0px 0px 0px;
    border-top: 3px solid gray;
    color: white;
    text-align: center;
    width: 100%;
    .AboutContainer{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 20px;
        div{
            width: 100%;
            .AboutImg{
               
                padding-top: 20px;
                border-radius: 15px;
                border-bottom: 2px solid rgb(72, 63, 63);
              
            }
            .AboutName{
                margin: 20px 0px;
                font-family: "Briem Hand", cursive;
                font-optical-sizing: auto;
            }
        }
       
    }
    @media (max-width:1000px)and (min-width:951px){
        .AboutImg{
            height: 330px;
            width: 280px;
        }
    }
    @media (max-width:950px) and (min-width:800px){
        .AboutImg{
            height: 330px;
            width: 280px;
        }
    }
    @media (max-width:799px){
        .AboutContainer{
            flex-direction: column;
            div{
                width: 100%;
                .AboutImg{
                    height: 300px;
                    width: 260px;
                    padding-top: 20px;
                    border-radius: 15px;
                  
                }
        }
    }
       
    }
    .AboutMe{
        margin: 0px 0px 10px 0px ;
        padding: 10px;
        @include textColor();
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
    }
  

    .AboutDescription{
        text-align: left;
        padding: 0px 10px 0px 10px;
        .ShowMore{
            color: yellow;
            cursor: pointer;
            font-weight: bold;
            margin-left: 10px;
        }
    }
    
} 